<div id="room" class="column-border">
  <div id="room-id">Room #<%= room.ID %></div>

  <p id="invite-text">
    You can invite others by sharing the link of this page
  </p>

  <div id="player-names">
    <%= for (player) in room.Players { %>
      <div class="player-name down">
        <%= player.Name %>
      </div>
    <% } %>
  </div>

  <a id="play" href="<%= playPath({roomID: room.ID}) %>">
    <button class="blue-button down" >
      Play
    </button>
  </a>
  <form action="<%= expelPath({roomID: room.ID, playerID: player.ID}) %>" method="post">
    <button class="blue-button">
      Leave
    </button>
  </form>
</div>

<input type="hidden" id="webSocketURLH" value="<%= roomStatePath({roomID: room.ID}) %>">
<%= javascriptTag("room.js") %>
